@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.brown-brim {
  background: url("https://i.ibb.co/ZYW3VTp/brown-brim.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.blue-beanie {
  background: url("https://i.ibb.co/ypkgK0X/blue-beanie.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.brown-cowboy {
  background: url("https://i.ibb.co/QdJwgmp/brown-cowboy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.grey-brim {
  background: url("https://i.ibb.co/RjBLWxB/grey-brim.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.adidas-nmd {
  background: url("https://i.ibb.co/0s3pdnc/adidas-nmd.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.adidas-yeezy {
  background: url("https://i.ibb.co/dJbG1cT/yeezy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.black-converse {
  background: url("https://i.ibb.co/bPmVXyP/black-converse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.nike-airforce {
  background: url("https://i.ibb.co/1RcFPk0/white-nike-high-tops.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.black-shearling {
  background: url("https://i.ibb.co/XzcwL5s/black-shearling.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.blue-jacket {
  background: url("https://i.ibb.co/mJS6vz0/blue-jean-jacket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.grey-jacket {
  background: url("https://i.ibb.co/N71k1ML/grey-jean-jacket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.brown-shearling {
  background: url("https://i.ibb.co/s96FpdP/brown-shearling.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.blue-tanktop {
  background: url("https://i.ibb.co/7CQVJNm/blue-tank.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.floral-blouse {
  background: url("https://i.ibb.co/4W2DGKm/floral-blouse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.floral-dress {
  background: url("https://i.ibb.co/KV18Ysr/floral-skirt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.red-dress {
  background: url("https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.camo-vest {
  background: url("https://i.ibb.co/xJS0T3Y/camo-vest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.floral-shirt {
  background: url("https://i.ibb.co/qMQ75QZ/floral-shirt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.longsleeve {
  background: url("https://i.ibb.co/55z32tw/long-sleeve.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.pink-shirt {
  background: url("https://i.ibb.co/RvwnBL8/pink-shirt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 5%;
}

li {
  list-style-type: none;
}

h3 {
  font-weight: 600;
}

.row {
  display: flex;
}

nav {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav li svg {
  width: 25px;
  height: auto;
}

nav li span {
  position: relative;
  right: 15px;
  top: -2px;
}

main > div {
  margin-bottom: 50px;
}

main div > div {
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  width: 24%;
}

main div > div p {
  display: none;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  font-weight: 600;
  color: #000;
  padding: 10px;
  margin: 0 10%;
  margin-top: 85%;
}

main div > div p:hover {
  background-color: #000;
  color: #fff;
}

main div > div ul {
  position: absolute;
  width: 21%;
  margin: 5px;
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-weight: 600;
}

main div > div:hover > p {
  display: block;
}
