@media screen and (max-width:768px) {
    .row {
        gap: 30px 10px;
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        margin-top: 40px;
    }
    main {
        & > div {
            margin-bottom: 0;        
        }

        div > div {
            width: 100%;
            margin: 0 auto;

            ul {
                width: 43.8%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .row {
        grid-template-columns: 1fr;
    }

    main {
        div > div {
            ul {
                width: 89.8%;
            }
        }
    }
}