@media screen and (max-width: 480px) {
    main {
        width: 100%;
       
        .cart-header {
            font-size: 15px;
        }

        .card-details {
            font-size: 15px;
        }
    }
    
}

@media screen and (min-width: 1450px) {
    main {
        ul {
            font-size: 35px;
        }
    }
    .cart-header {
        font-size: 35px;
    }

    .card-details {
        font-size: 35px;
    }
}