.cart-dropdown {
    // display: none;
    padding: 10px 10px 20px 10px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    height: 320px;
    width: auto;
    min-width: 200px;
    max-width: 250px;
    right: 0;
    top: 101px;
    z-index: 1;
    border-radius: 5px;
}
.cart-items {
    overflow: scroll;
    height: 80%;
    width: 100%;

    & > div {
        display: flex;
        align-items: center;
        margin: 10px 0;

        img {
            width: 60px;
            border-radius: 5px;
            margin-right: 7.5px;
        }
    }
}   
.item-details {
    // display: flex;
    display: block;
}
.checkout-item-name {
    margin-right: 2px;
}
.checkout-button {
    color: #fff;
    outline: 0;
    border: 0px;
    padding: 20px;
    background-color: black;
    margin: 10px 0;
    width: 100%;

    &:hover {
        color: black;
        background-color: transparent;
        border: 1px solid black;
    }
}
.value {
    margin: 0 3px;
}