* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import 'config';
@import 'utilities';

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 5%;
}
li {
    list-style-type: none;
}
h3 {
    font-weight: 600;
}
.row {
    display: flex;
}
nav {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;

    li {
        margin: 0 10px;

        svg {
            width: 25px;
            height: auto;
        }

        span {
            position: relative;
            right: 15px;
            top: -2px;
        }
    }
}

main {
    & > div {
        margin-bottom: 50px;
    }
    div > div {
        height: 300px;
        margin: 0 auto;
        border-radius: 5px;
        width: 24%;

        p { display: none;
            background-color: #fff;
            border: 1px solid #000;
            text-align: center;
            font-weight: 600;
            color: #000;
            padding: 10px;
            margin: 0 10%;
            margin-top: 85%;

        }
        p:hover {
            background-color: #000;
            color: #fff;
        }

        ul {
            position: absolute;
            width: 21%;
            margin: 5px;
            margin-top: 300px;
            display: flex;
            justify-content: space-between;
            color: #000;
            font-weight: 600;
        }
    }
    div > div:hover {
        & > p {
            display: block;
        }
    }
}